<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<context:property-placeholder location="properties/galaway.properties" />

	<mongo:db-factory id="galaway" dbname="galaway"
		host="${mongo.server.host}" port="${mongo.server.port}" username="${mongo.username}"
		password="${mongo.password}" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="galaway" />
	</bean>

	<bean id="hubwayQuerier" class="hubway.utility.HubwayQueryBuilder">
		<constructor-arg value="${hubway.url}" />
		<constructor-arg value="${hubway.credentials}" />
	</bean>

	<bean id="wundergroundQueryBuilder" class="hubway.utility.WundergroundQueryBuilder">
		<constructor-arg value="${wunderground.url}" />
		<constructor-arg value="${wunderground.credentials}" />
	</bean>
	
		<bean id="placesQueryBuilder" class="hubway.utility.PlacesQueryBuilder">
		<constructor-arg value="${google.places.url}" />
		<constructor-arg value="${google.credentials}" />
	</bean>

	<bean id="distanceQueryBuilder" class="hubway.utility.DistanceQueryBuilder">
		<constructor-arg value="${google.distance.url}" />
		<constructor-arg value="${google.credentials}" />
	</bean>
	
		<bean id="directionsQueryBuilder" class="hubway.utility.DirectionsQueryBuilder">
		<constructor-arg value="${google.directions.url}" />
		<constructor-arg value="${google.credentials}" />
	</bean>
	
	<bean id="locationEnricher" class="hubway.LocationDataEnricher">
		<constructor-arg ref="wundergroundQueryBuilder" />
		<constructor-arg ref="placesQueryBuilder" />
		<constructor-arg ref="directionsQueryBuilder" />
		<constructor-arg ref="distanceQueryBuilder" />
	</bean>

</beans>